body {
    background: black;
}

.card {
    width: 400px;
    height: 200px;
    /* força até no maximo o tamanho que determinei*/
    box-sizing: border-box;
    padding: 1px 20px;
    background: url('/imagens/background.png') no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 10%;

}

a {
    text-decoration: none;
    color: black;
}

.insta {
    list-style-image: url("/imagens/Insta.png");
}

.twitter {
    list-style-image: url("/imagens/Twitter.png");
}

.youtube {
    list-style-image: url("/imagens/Youtube.png");
}

ul {
    font-family: 'Roboto Mono', monospace;

}