body {
    background: url("./imagens/background.png");
    background-size: 400px 200px;
    position: fixed;
    background-repeat: no-repeat;


}

#nome {
    font-size: 25px;
    margin: 5px;
}


#insta {


    list-style-image: url("./imagens/Insta.png");

}

#twitter {
    list-style-image: url("./imagens/Twitter.png");
}

#youtube {
    list-style-image: url("./imagens/Youtube.png");
}

ul {
    line-height: 1px;

}

a {
    text-decoration: none;
    color:black
};